@import 'reset.scss';
@import '_variables.scss';

header{
    width: 100%;
    height: 100vh;
    background-color: $bckgGrey;
    transition: all 0.4s ease;
    &::before{
        content: '<body>';
        @include codeSimulation; 
        position: relative;
        top: 3.5rem;
        left: 3rem;
    }
    &::after{
        content: '</body>';
        @include codeSimulation; 
        position: $abs;
        bottom: 15%;
        left: 3rem;
    }
    .abrirMenu{
        display: inline-block;
        width: 3rem;
        height: 2.5rem;
        cursor: pointer;
        position: absolute;
        z-index: 100;
        right: 0;
        margin-top: .5rem;
        margin-right: 1.5rem;
        .bar1{
            position: absolute;
            width: 100%;
            height: 15%;            
            background: $strongPink; 
            transform: translate(-1rem);
            transition: .2s ease;
        }
        .bar2{
            position: absolute;
            width: 100%;
            height: 15%;
            background: $strongPink;
            margin-top: 1.1rem;
            transform: translate(1rem);
            transition: .2s ease;
        }
        .bar3{
            position: absolute;
            width: 100%;
            height: 15%;
            background: $strongPink;
            margin-top: 2.2rem;
            transform: translate(-1rem);
            transition: .2s ease;
        }
    }
    .change{
        .bar1{
            transform: translate(0);
        }
        .bar2{
            transform: translate(0);
        }
        .bar3{
            transform: translate(0);
        }
    }
        
    
    /* menu hidden*********** */
    .menu-hide{
        display: none;
    }
    nav{
        display: block;
        width: 100%;
        height: 100%;
        background: $navGrey;
        position: $abs;
        top: 0;
        z-index: 20;
        padding-left: 1rem;
        padding-top: 5.5rem;
        animation: entradaMenu 0.4s ease 1;
        @keyframes entradaMenu{
            0%{
                opacity: 0;
                right: 100%;
            }
            100%{
                opacity: 1;
                right: 0;
            }
        }
    }
    li{
        padding-top: 2rem ;
    }
    a{
        text-decoration: none;
        color: $plainBlack;
        font-family: $title1;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 2rem;
        &:hover{
            color: $cleanWhite;
        }
    }
    .text_menu{
        margin-top: 4rem;
        p{
            font-family: $title1;
            font-weight: 100;
            width: 90%;
            font-size: 1rem;
            color: $lightTurquoise;
            line-height: 1.6;
        }
        button{
            @include btn; 
        }
    }
    /* ********** */
    .titulo{
        width: 95%;
        @include vCenter;
    }
    .logo_externo{
        width: 4.2rem;
        height: 4.2rem;
        background: linear-gradient(to right, $strongPink, $lightTurquoise); 
        @include vCenter;
        &::before{
            content: '<div>';
            @include codeSimulation; 
            position: $abs;
            top: -0.5rem;
            left: -2.5rem;
        }
        &::after{
            content: '</div>';
            @include codeSimulation; 
            position: $abs;
            bottom: -0.5rem;
            left: 105%;
        }
        .logo_interno{
            width: 97%;
            height: 97%;
            background: linear-gradient(to right, $strongPink, $bckgGrey); 
            position: relative;
            top: 1.5%;
            left: 1.5%;
        } 
    }
    h1{
        color: $cleanWhite;
        font-family: $title1;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 3rem;
        text-align: center;
        position: relative;
        z-index: 10;
    }
    span{
        font-family: $title2;
        text-transform: capitalize;        
    }
    .sub_heading{
        text-align: center;
        font-family: $title1;
        font-weight: lighter;
        font-size: 0.8rem;
        color: $cleanWhite;
        position: $abs;
        top: 155%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}