/*@function logosTamaño($width, $height){
    $width: 8.5rem;
    $height: 8.5rem;
    $resultado: $width, $height;
    @return $resultado
}*/ 
@mixin tamanoTitulo($tamanoLetra){
    font-size: $tamanoLetra; 
}
@mixin logosTamanoUno($ancho, $alto){
    width: $ancho;
    height: $alto;
}
@mixin fontSize($fontSize){
    font-size: $fontSize
}


@media screen and (min-width: 522px){
    header{
        .fas{
            font-size: 4rem;
        }
        .logo_externo{
            @include logosTamanoUno(8.5rem, 8.5rem )
        }
        h1{
            font-size: 5.8rem;
        }
    }
}

@media screen and (min-width: 671px){
    header{
        .logo_externo{
            @include logosTamanoUno(10.2rem,10.2rem)
        }
        h1{
            @include tamanoTitulo(7rem)
        }
    }
}

@media screen and (min-width: 769px){
    header{
        .menu_ham{
            display: none;
        }
        .menu{
            display: block;
            padding-top: 0;
        }
        nav{
            background: none;
        }
        ul{
            display: flex;
            justify-content: space-evenly;
        }
        a{
            font-weight: 600;
            color: $cleanWhite;
            &:hover{
                color: $lightTurquoise;
            }
            @include fontSize(1.2rem);
            font-weight: lighter; 
            letter-spacing: 0.5rem;
        }
        .text_menu{
            display: none;
        }
        
    }
    .port{
        .container_port{
            width: 99%;
            left: 1%;
        }
        .content{
            flex-direction: row;
            flex-wrap: wrap;
        }
        .flex-item{
            flex: 50%;
            max-width: 50%;
        }
    }
    .skills{
        .content{
            li{
            font-size: 2rem;
                &::after{
                    top: 0.5rem;
                    left: 22%;
                }
            }
        }
    }
    
}

@media screen and (min-width: 832px){
    header{        
        .logo_externo{
            @include logosTamanoUno(13.3rem,13.3rem)
        }
        h1{
            @include tamanoTitulo(9rem)
        }
    }
}

@media screen and (min-width: 1000px){
    header{
        .logo_externo{
            @include logosTamanoUno(17.8rem,17.8rem)
        }
        h1{
            @include tamanoTitulo(12rem)
        }
        a{
            @include fontSize(1.6rem)
        }
    }
}



@media screen and(min-width: 1024px){
    section{
        display: flex;
    }
    .header{
        width: 20%;
        height: auto;
        background-color: $sobreMiBigHeader;
        .num-svg{
            width: 12rem;
            height: 12rem;
        }
        h2{
            transform: rotate(90deg);
            width: 25rem;
            left: -6rem;
            font-size: 4.5rem;
            top: 30rem;
            
        }
    }
    .port{
        .header{
            background: $portBigHeader;
        }
        h2{
            top: 30rem;
        }
        
    }
    .skills{
        .header{

        }
        h2{
            top: 26rem;
        }
    }
}

/* min: 523 */




