.btn-top {
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: 4rem;
    bottom: 4rem;
    button{
        color: white;
        padding: 2rem;
        width: 1.5rem;
        height: 1.5rem;
        background-color: transparent;
        border: none;
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-135deg);
        outline: none;
        cursor: pointer;
        position: absolute;
        left: 27%;
        top: 35%;
        /* overflow: hidden; */
    }
}

.hide-scroll {
    display: none;
}
