.btn-top {
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: 1rem;
    bottom: 1rem;
    button{
        color: white;
        width: 1.5rem;
        height: 1.5rem;
        background-color: transparent;
        border: none;
        border: solid $strongPink;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-135deg);
        outline: none;
        cursor: pointer;
        position: absolute;
        left: 27%;
        top: 35%;
    }
}

.hide-scroll {
    display: none;
}
