.skills{
    height: auto;
    .header{
        background-color: $strongPink;
        position: relative;
        .num-svg{
            background-image: url('../assets/skillsBlancoSvg.svg');
        }
        h2{
          color: $plainBlack;
        }
    }
    .content{
        background: $bckgGrey;
        padding-top: 3rem;
        padding-left: .5rem;
        .lista_skills{
            width: 90%;
            margin-top: 3rem;
            @include xCenter;
        }
        .code{
            position: relative;
            &::before{
                content:"<ul>";
                @include codeSimulation;
                text-transform: lowercase;
                position: $abs;
                left: -0.2rem;
                top: -1rem;          
            }
        }
        .code-dos{
            position: relative;
            &::before{
                content:"</ul>";
                @include codeSimulation;
                text-transform: lowercase;
                position: absolute;
                left: 0;
                bottom: 1rem;                 
            }
            .nth8::after{
                box-shadow: 25px 0 $strongPink,
                            50px 0 $navGrey,
                            75px 0 $navGrey,
                            100px 0 $navGrey;
            }
            .nth9::after{
                box-shadow: 25px 0 $strongPink,
                            50px 0 $strongPink,
                            75px 0 $strongPink,
                            100px 0 $navGrey;
            }
            .nth10::after{
                box-shadow: 25px 0 $strongPink,
                            50px 0 $strongPink,
                            75px 0 $strongPink,
                            100px 0 $strongPink;
            }
            .nth11::after{
                box-shadow: 25px 0 $strongPink,
                            50px 0 $navGrey,
                            75px 0 $navGrey,
                            100px 0 $navGrey;
            }
            .nth12::after{
                box-shadow: 25px 0 $strongPink,
                            50px 0 $strongPink,
                            75px 0 $strongPink,
                            100px 0 $navGrey;
            }
            .nth13::after{
                box-shadow: 25px 0 $strongPink,
                            50px 0 $strongPink,
                            75px 0 $strongPink,
                            100px 0 $strongPink;
            }
            .nth14::after{
                box-shadow: 25px 0 $strongPink,
                            50px 0 $strongPink,
                            75px 0 $strongPink,
                            100px 0 $strongPink;
            }
            
        }
        li{
            font-family: $title1;
            font-size: 0.8rem;
            font-weight: 800;
            text-transform: uppercase;
            padding-bottom: 2rem;
            color: $bckgSobreMi;
            position: relative;
            &::after{
                content: "";
                width: 1rem;
                height: 1rem;
                background-color: $strongPink;
                position: absolute;
                left: 10%;
                margin-left: 6rem;
                box-shadow: 25px 0 $strongPink,
                            50px 0 $strongPink,
                            75px 0 $navGrey,
                            100px 0 $navGrey;
            }
            &:nth-child(1)::after{
                box-shadow: 25px 0 $strongPink,
                            50px 0 $strongPink,
                            75px 0 $strongPink,
                            100px 0 $strongPink;
            }
            &:nth-child(2)::after{
                box-shadow: 25px 0 $strongPink,
                            50px 0 $strongPink,
                            75px 0 $strongPink,
                            100px 0 $strongPink;
            }
            &:nth-child(3)::after{
                box-shadow: 25px 0 $strongPink,
                            50px 0 $strongPink,
                            75px 0 $navGrey,
                            100px 0 $navGrey;
            }
            &:nth-child(4)::after{
                box-shadow: 25px 0 $strongPink,
                            50px 0 $strongPink,
                            75px 0 $strongPink,
                            100px 0 $strongPink;
            }
        }
    }
    .software{
        margin-top: 3rem;
        h4{
            width: 70%;
            color: $strongPink;
            font-size: 1.5rem;
            font-family: $title1;
            text-transform: uppercase;
            font-weight: 500;
            position: relative;
            &::after{
                content: "";
                width: 100%;
                height: 0.2rem;
                background-color: $navGrey;
                position: absolute;
                left: 0;
                top: 110%;
                background-color: $strongPink;
            }
            &::before{
            content:"";
            position: $abs;
            left: 105%;
            top: 2rem;
            background-image: url('../assets/afterSvg.svg');
            background-repeat: no-repeat;
            width: 3.5rem;
            height: 3.5rem;
        }
        }
        .software-list{
            margin-top: 3.5rem;
            li{
                &:nth-child(1)::after{
                    box-shadow: 25px 0 $strongPink,
                                50px 0 $strongPink,
                                75px 0 $strongPink,
                                100px 0 $strongPink;
                }
                &:nth-child(2)::after{
                    box-shadow: 25px 0 $strongPink,
                                50px 0 $strongPink,
                                75px 0 $navGrey,
                                100px 0 $navGrey;
                }
                &:nth-child(3)::after{
                    box-shadow: 25px 0 $strongPink,
                                50px 0 $strongPink,
                                75px 0 $strongPink,
                                100px 0 $strongPink;
                }
                &:nth-child(4)::after{
                    box-shadow: 25px 0 $strongPink,
                                50px 0 $strongPink,
                                75px 0 $strongPink,
                                100px 0 $navGrey;
                }
                &:nth-child(5)::after{
                    box-shadow: 25px 0 $strongPink,
                                50px 0 $strongPink,
                                75px 0 $strongPink,
                                100px 0 $navGrey;
                }                    
            }
        }
        
    }
}  

