.skills{
    width: 100%;
    height: auto;
    .header{
        background: #9dd5da;
        .num-svg{
            background-image: url('../assets/habilidadesSvg.svg')
        }
    }
    .content{
        
    }
}    