.skills{
    height: auto;
    .header{
        background-color: $cleanWhite;
        position: relative;
        .num-svg{
            background-image: url('../assets/habilidadesSvg.svg')
        }
        h2{
          color: $plainBlack;
          &::after{
            content:"";
            position: $abs;
            left: 70%;
            top: 3.5rem;
            background-image: url('../assets/afterSvg.svg');
            background-repeat: no-repeat;
            width: 3.5rem;
            height: 3.5rem;
        }
        }
    }
    .content{
        background: #dbdbdb;
        padding-top: 3rem;
        .lista_skills{
            width: 80%;
            margin-top: 3rem;
            @include xCenter;
        }
        ul{
            position: relative;
            &::before{
                content:"<ul>";
                @include codeSimulation;
                text-transform: lowercase;
                position: $abs;
                left: -1rem;
                top: -1rem;            
            }
            &::after{
                content:"</ul>";
                @include codeSimulation;
                text-transform: lowercase;
                position: absolute;
                left: -1rem;
                bottom: 1rem; 
            }
        }
        li{
            font-family: $title1;
            font-size: 2.1rem;
            font-weight: 800;
            text-transform: uppercase;
            padding-bottom: 2rem;
            color: $strongPink;
        }
    }
}  

