main{
    overflow: hidden;
}
*section{
    width: 100%;
    height: auto;
    transition: all 0.4s ease 0s;/* REVISAR******* */
    opacity: 1;
    transform: scale(1);
    transform: translatey(0) 
}
.about{
    transform: scale(1.2);
    transition: all 0.4s ease 0s;
    opacity: 0; 
    transform: translatey(-5rem);
/* REVISAR********************* */
}

.header{
    width: 100%;
    height: 20vh;
    background: $bckgGrey;
    position: relative;
    .num-svg{
        margin-top: 1rem;
        width: 70%;
        height: 70%;
        background-image: url('../assets/aboutSvg.svg');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
    }
    h2{
        width: 100%;
        font-family: $title1;
        font-weight: 800;
        font-size: 2rem;
        color: $cleanWhite;
        text-transform: uppercase;
        @include vCenter;
        text-align: center;
    }
} 
.content{
    width: 100%;
    background: rgba(37, 38, 39, 0.95);
    position: relative;
    top: 0;
    padding-bottom: 3rem;
    .image_about{
        width: 100%;
        position: relative;
        z-index: -10;
        img{
            width: 100%;
            position: absolute;
            top: 0;
            right: 0;    
        }
    }
    .container-about{
        padding-top: 4rem;
        width: 90%;
        max-width: 30rem;
        @include xCenter;
    }
    .box{
        width: 90%;
        @include xCenter;
        text-align: center;
        margin-bottom: 2rem;
    }
    .circles{
        width: 7rem;
        height: 7rem;
        background: $bckgSobreMi;
        border-radius: 50%;
        @include xCenter;
        margin-bottom: 2rem;
    }
    .uno{
        background-image: url('../assets/yoSvg.svg');
        background-size: 85;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        animation: perfil 10s ease-in-out infinite;
        &::after{
            content: '';
            width: 1%;
            height: 30%;
            background: $bckgSobreMi;
            position: absolute;
            top: 100%;
        }    
    }
    .dos{
        background-image: url('../assets/dispositivosSvg.svg');
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: top;
        position: relative;
        animation: dispositivos 15s ease-in-out infinite;
        &::after{
            content: '';
            width: 1%;
            height: 30%;
            background: $bckgSobreMi;
            position: absolute;
            top: 100%;
        }
        @keyframes dispositivos{
            0%{
                background-position: top;
                background-size: 70%;
            }
            23%{
                background-position: top;
                background-size: 70%;
            }
            24%{
                background-size: 0%;
            }
            26%{
                background-position: center;
                background-size: 80%;
            }
            27%{
                background-size: 70%;
            }
            50%{
                background-position: center;
                background-size: 70%;
            }
            75%{
                background-position: center;
                background-size: 70%;
            }
            76%{
                background-size: 0%;
            }
            78%{
                background-position: bottom;
                background-size: 80%;
            }
            79%{
                background-position: bottom;
                background-size: 70%;
            }
            100%{
                background-position: bottom;
                background-size: 70%;
            }
        }
    }
    h3{
        font-family: $title1;
        font-weight: lighter;
        font-size: 1.5rem;
        color: $strongPink;
    }
    p{
        margin-top: 1rem;
        padding: 0 0.5rem 0 0.5rem;
        color: $cleanWhite;
        font-size: 1.1rem;
        font-family: 'Roboto';
        font-weight: 100;
        line-height: 1.7;
        &::first-line{
            line-height: 1;
        }
    }
    .container-contacto{
        width: 90%;
        max-width: 30rem;
        @include xCenter;
        position: relative;
        padding: 1rem 0 2rem 0;
        border-top: 1px solid $cleanWhite;
    }
    .contenido{
        padding-bottom: 3rem;
    }
    .text_cv{
        text-align: $textCenter;
    }
    .btn_cv{
        text-align: $textCenter;
        @include vCenter;
        top: 6.5rem;
        padding-top: 1.5rem;
    }
    button{
        margin-top: 1.5rem;
        margin-bottom: 3rem;
        width: 8.5rem;
        padding: 0.5rem 0;
        background: $cleanWhite;
        border: none;
        font-family: $title1;
        font-weight: 600;
        font-size: 1rem;
        text-transform: uppercase;
        outline: inherit;
        cursor: pointer;
        position: relative;
        transition: all 0.4s ease;
        &:hover{
            background: none;
            border: 2px solid $cleanWhite;
            color: $cleanWhite; 
            border-radius: 50px;
            &::after{
                content: "Download my cv";
                font-size: 1rem;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                animation: movement 0.4s ease;
            }
            &:hover::after{
                @keyframes movement{
                    0%{
                        top: 0;
                        opacity: 1;
                    }
                    100%{
                        top: 4rem;
                        opacity: 0;
                    }
                }
            }
           
        } 
    }
    .datos-contacto{
        width: 100%;
        text-align: center;
        margin-top: 1rem;
        a{
            color: $cleanWhite;
            font-family: $title1;
        }
        .tlfn{
            color: $bckgSobreMi;
        }
    }   
}