section{
    width: 100%;
    height: auto;
}
.header{
    width: 100%;
    height: 20vh;
    background: rgba(25, 204, 170, 0.95);
    position: relative;
    .num-svg{
        margin-top: 1rem;
        width: 70%;
        height: 70%;
        background-image: url('../assets/aboutSvg.svg');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
    }
    h2{
        width: 100%;
        font-family: $title1;
        font-weight: 800;
        font-size: 2.5rem;
        color: $cleanWhite;
        text-transform: uppercase;
        @include vCenter;
        text-align: center;
    }
} 
.content{
    width: 100%;
    background: rgba(25, 204, 170, 0.95);
    position: relative;
    top: 0;
    padding-bottom: 3rem;
    .image_about{
        width: 100%;
        position: relative;
        z-index: -10;
        img{
            width: 100%;
            position: absolute;
            top: 0;
            right: 0;    
        }
    }
    .container-about{
        padding-top: 4rem;
        width: 90%;
        max-width: 30rem;
        @include xCenter;
    }
    .box{
        width: 90%;
        @include xCenter;
        text-align: center;
        margin-bottom: 2rem;
    }
    .circles{
        width: 7rem;
        height: 7rem;
        background: #d1d1d1;
        border-radius: 50%;
        @include xCenter;
        margin-bottom: 2rem;
    }
    .uno{
        background-image: url('../assets/PerfilSvg.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 2rem center;
        position: relative;
        animation: perfil 10s ease-in-out infinite;
        &::after{
            content: '';
            width: 1%;
            height: 30%;
            background: #d1d1d1;
            position: absolute;
            top: 100%;
        }
        @keyframes perfil{
            0%{
                background-position-y: 0rem;
                background-position-x: center;
                background-size: 0;
                
            }
            2%{
                background-size: 100%;
            }
            22%{
                background-size: 100%;
            }
            23%{
                background-position-y: 0rem;
                background-size: 0;
                
            }
            24%{
                background-position-y: -8rem;
                background-size: 100%;
                
            }
            50%{
                background-position-y: -8rem;
            }
            57%{
                background-position-y: -8rem;
                background-size: 100%;
            }
            58%{
                background-position-y: -8rem;
                background-size: 0;
            }
            59%{
                background-position-y: -16rem;
                background-size: 100%;
            }
            87%{
                background-position-y: -16rem;
                background-size: 0;
            }
            88%{
                background-position-y: 0rem;
                background-size: 100%;
            }
            89%{
                background-position-y: 0rem;
                background-position-x: center;

            }
            100%{
                background-position-y: 0rem;
                background-position-x: center;

            }
        }
    
    }
    .dos{
        background-image: url('../assets/dispositivosSvg.svg');
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: top;
        position: relative;
        animation: dispositivos 15s ease-in-out infinite;
        &::after{
            content: '';
            width: 1%;
            height: 30%;
            background: #d1d1d1;
            position: absolute;
            top: 100%;
        }
        @keyframes dispositivos{
            0%{
                background-position: top;
                background-size: 70%;
            }
            23%{
                background-position: top;
                background-size: 70%;
            }
            24%{
                background-size: 0%;
            }
            26%{
                background-position: center;
                background-size: 80%;
            }
            27%{
                background-size: 70%;
            }
            50%{
                background-position: center;
            }
            75%{
                background-position: center;
            }
            77%{
                background-position: bottom;
            }
            100%{
                background-position: bottom;
            }
        }
    }
    h3{
        font-family: $title1;
        font-weight: lighter;
        font-size: 1.5rem;
    }
    p{
        margin-top: 1rem;
        padding: 0 0.5rem 0 0.5rem;
        color: $cleanWhite;
        font-size: 1.1rem;
        font-family: 'Roboto';
        font-weight: 100;
        line-height: 1.7;
        &::first-line{
            line-height: 1;
        }
    }
    .container-contacto{
        width: 90%;
        max-width: 30rem;
        @include xCenter;
        position: relative;
        padding: 1rem 0 2rem 0;
        border-top: 1px solid $cleanWhite;
    }
    .contenido{
        padding-bottom: 3rem;
    }
    .text_cv{
        text-align: $textCenter;
    }
    .btn_cv{
        text-align: $textCenter;
        @include vCenter;
        top: 6rem;
        padding-top: 1.5rem;
    }
    button{
        margin-top: 1.5rem;
        margin-bottom: 3rem;
        width: 8.5rem;
        padding: 0.5rem 0;
        background: $cleanWhite;
        border: none;
        font-family: $title1;
        font-weight: 600;
        font-size: 1rem;
        text-transform: uppercase;
        outline: inherit;
        cursor: pointer;
        &:hover{
            background: none;
            border: 2px solid $cleanWhite;
            color: $cleanWhite; 
        } 
    }
    .datos-contacto{
        width: 100%;
        text-align: center;
        margin-top: 1rem;
        a{
            color: $cleanWhite;
            font-family: $title1;
        }
    }   
}