@import '_reset.scss';
@import '_variables.scss';
@import '_header.scss';
@import '_sobreMi.scss';
@import '_portfolio.scss';
@import '_skills.scss';
@import '_footer.scss';
@import '_mediaQueris.scss';