footer{
    position: relative;
    &::before{
        content: '</html>';
        @include codeSimulation; 
        position: $abs;
        top: 9rem;
        left: 0.5rem;
    }
    background-color: $bckgGrey;
    padding: 3rem 0 0 0;
    .git{
        text-align: $textCenter;
        padding: 1rem 0 2rem 0;
        a{
            color: $cleanWhite; 
            text-decoration: none;
            font-family: $title1;
            font-weight: 400;
            font-size: 1rem;
            text-transform: uppercase;
            transition: all .3s ease-in;
            &:hover{
                color: $sobreMiBigHeader; 
            }
                          
        }
    }
    p{
        color: $cleanWhite;
        font-family: $title1;
        font-size: 0.8rem;
        padding: 1rem 0 2rem 1rem;
        font-weight: 200;
        text-align: center;
        a{
            color: $cleanWhite;
        }
    }
    
     
}